<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {{ page.custom-head }}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="/"><h1>Arman Bilge</h1></a>
        <h2>
          {% for link in site.data.navigation %}
            <a href="{{ link.url }}" {% if page.url contains link.url %} style="font-weight:bold" {% endif %}>{{ link.name }}</a><br>
          {% endfor %}
        </h2>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <a rel="license" href="//creativecommons.org/licenses/by-sa/4.0/deed">
          <img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/4.0/88x31.png">
        </a>
        <p>Everything is licensed under a <br> <a rel="license" href="//creativecommons.org/licenses/by-sa/4.0/deed">Creative Commons License</a>.
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-37287237-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
