---
layout: default
custom-head: |
             <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
             <script src="/javascripts/lightbox-2.6.min.js"></script>
             <link href="/stylesheets/lightbox.css" rel="stylesheet" />

---

{{ content }}

{% assign multiple-two = false %}
{% assign multiple-four = false %}
{% for photo in page.photos %}
<a data-lightbox="gallery" href="{{ page.base-url }}{{ photo.name }}" title="{{ photo.caption }}"><img alt='{{ photo.name }}' title='{{ photo.caption }}' src='{{ page.base-url }}thumbs/{{ photo.name }}'/></a>

{% if multiple-two %}
    {% assign multiple-two = false %}
    {% if multiple-four %}
        {% assign multiple-four = false %}
        <br/>
    {% else %}
        {% assign multiple-four = true %}
    {% endif %}
{% else %}
    {% assign multiple-two = true %}
{% endif %}

{% endfor %}
