---
layout: default
custom-head: |
             <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
             <link href="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.1/css/lightbox.min.css" rel="stylesheet"/>

---

{{ content }}

<table>
{% tablerow photo in page.photos cols: 3 %}
<a href="{{ page.base-url }}/{{ photo.name }}" data-lightbox="gallery" data-title="{{ photo.caption }}"><img alt="{{ photo.name }}" title="{{ photo.caption }}" src="{{ page.base-url }}/thumbs/{{ photo.name }}" class="nice-border"></a>
{% endtablerow %}
</table>

<script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.1/js/lightbox.min.js"></script>